<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Azure Projects</title><!-- Bootstrap Core CSS -->
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    rel="stylesheet"><!-- MetisMenu CSS -->
    <link href=
    "http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.0/metisMenu.min.css"
    rel="stylesheet"><!-- Custom CSS -->
    <link href="http://azurepoc.github.io/Demo-Web/css/style.css" rel="stylesheet"><!-- Custom Fonts -->
    <link href=
    "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation"
        style="margin-bottom: 0">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button"><span class=
                "sr-only">Toggle navigation</span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span></button> <a class="navbar-brand" href=
                "index.html">Azure Projects</a>
            </div><!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li>
                            <a href="http://azurepoc.github.io/Demo-Web/"><i class=
                            "fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li class="active">
                            <a aria-expanded="true" href="#"><i class=
                            "fa fa-terminal fa-fw"></i> Projects<span class=
                            "fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="http://azurepoc.github.io/Demo-Web/projects/sample.html">Sample
                                    Project</a>
                                </li>
                                <li>
                                    <a href="http://azurepoc.github.io/Demo-Web/projects/demo.html">Demo
                                    Project</a>
                                </li>
                            </ul><!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div><!-- /.sidebar-collapse -->
            </div><!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            {{ content }}
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
        <!-- jQuery -->
        <script src=
        "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js">
        </script> <!-- Bootstrap Core JavaScript -->
         
        <script src=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        </script> <!-- Metis Menu Plugin JavaScript -->
         
        <script src=
        "http://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.0/metisMenu.min.js">
        </script> <!-- Custom Theme JavaScript -->
         
        <script src="http://azurepoc.github.io/Demo-Web/js/script.js">
        </script> 
    </div>
</body>
</html>
